/* Fonts */
h1, h2, h3, h4, h5 {
	font-family: 'Staatliches', 'Patua One', Helvetica, Arial, sans-serif;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

code, kbd, pre, samp, textarea {
  font-family: 'Fira Mono', 'Source Code Pro', monospace;
}

/* Sizes */
label {
	font-size: 14px;
}

textarea {
	font-size: 14px;
}

@media only screen and (max-width: 1200px) {
    label {
    	font-size: 12px;
    }
    textarea {
    	font-size: 12px;
    }
}

@media only screen and (max-width: 1100px) {
    label {
    	font-size: 12px;
    }
    textarea {
    	font-size: 10px;
    }
}


body {
    background-color: #F0F0F0;
}

h1, h2, h3, a {
    color: darkblue;
}

.imprint {
	font-size: 12px;
    line-height: 16px;
}

#copied {
	font-size: 12px;
    color: darkblue;
}

.checkmark {
    font-family: 'Fira Sans', sans-serif;
	font-size: 8px;
    font-weight: bold;
    background-color: #a0a0a0;
    color: #ffffff;
    padding: 2px;
    position: relative;
    bottom: 4px;
}

#container {
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;
    padding-left: 20px;
    padding-right: 20px;
    
    display: flex;
    flex-wrap: wrap;
}

input[type=number]{
    width: 40px;
} 
